<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodrecord.mapper.UserOperationLogMapper">

    <!-- 查询所有日志 -->
    <select id="selectAll" resultType="com.foodrecord.model.entity.UserOperationLog">
        SELECT * FROM user_operation_logs
    </select>

    <!-- 自定义其他查询语句 -->
</mapper>
