<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodrecord.mapper.UserFeedbackMapper">
    
    <resultMap id="BaseResultMap" type="com.foodrecord.model.entity.user.UserFeedback">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="food_id" property="foodId"/>
        <result column="rating" property="rating"/>
        <result column="comment" property="comment"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="deleted" property="deleted"/>
        <association property="user" column="user_id" 
                     select="com.foodrecord.mapper.UserMapper.selectById"/>
        <association property="food" column="food_id" 
                     select="com.foodrecord.mapper.FoodMapper.selectById"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, food_id, rating, comment, created_at, updated_at, deleted
    </sql>

    <select id="selectByFoodId" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM user_feedback
        WHERE food_id = #{foodId} AND deleted = 0
        ORDER BY created_at DESC
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM user_feedback
        WHERE user_id = #{userId} AND deleted = 0
        ORDER BY created_at DESC
    </select>

    <select id="selectAvgRatingByFoodId" resultType="java.lang.Double">
        SELECT AVG(rating)
        FROM user_feedback
        WHERE food_id = #{foodId} AND deleted = 0
    </select>

    <select id="selectPageByFoodId" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM user_feedback
        WHERE food_id = #{foodId} AND deleted = 0
        ORDER BY created_at DESC
    </select>
    <select id="queryFeedbacks" resultType="com.foodrecord.model.entity.user.UserFeedback">
        SELECT * FROM user_feedback
        WHERE 1=1
        <if test="query.userId != null">
            AND user_id = #{query.userId}
        </if>
        <if test="query.foodId != null">
            AND food_id = #{query.foodId}
        </if>
        <if test="query.minRating != null">
            AND rating &gt;= #{query.minRating}
        </if>
        <if test="query.maxRating != null">
            AND rating &lt;= #{query.maxRating}
        </if>
        <if test="query.status != null">
            AND status = #{query.status}
        </if>
    </select>

    <select id="getAverageRating" resultType="double">
        SELECT AVG(rating) FROM user_feedback
    </select>
    <select id="selectUserFeedbacks" resultType="com.foodrecord.model.entity.user.UserFeedback">
        SELECT * FROM user_feedback
        WHERE deleted = 0
        <if test="keyword != null">
            AND comment LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY created_at DESC
    </select>
</mapper> 