<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodrecord.mapper.VitaminsMapper">
    
    <resultMap id="BaseResultMap" type="com.foodrecord.model.entity.Vitamins">
        <id column="id" property="id"/>
        <result column="food_id" property="foodId"/>
        <result column="vitamin_a" property="vitaminA"/>
        <result column="carotene" property="carotene"/>
        <result column="vitamin_d" property="vitaminD"/>
        <result column="vitamin_e" property="vitaminE"/>
        <result column="thiamine" property="thiamine"/>
        <result column="lactoflavin" property="lactoflavin"/>
        <result column="vitamin_c" property="vitaminC"/>
        <result column="niacin" property="niacin"/>
        <result column="retinol" property="retinol"/>
        <result column="deleted" property="deleted"/>
        <association property="food" column="food_id" 
                     select="com.foodrecord.mapper.FoodMapper.selectById"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, food_id, vitamin_a, carotene, vitamin_d, vitamin_e, thiamine,
        lactoflavin, vitamin_c, niacin, retinol, deleted
    </sql>
    <insert id="batchInsert" parameterType="list">
        INSERT INTO vitamins (food_id, vitamin_a, carotene, vitamin_d, vitamin_e, thiamine, lactoflavin, vitamin_c, niacin, retinol)
        VALUES
        <foreach collection="vitaminsList" item="item" separator=",">
            (#{item.foodId}, #{item.vitaminA}, #{item.carotene}, #{item.vitaminD}, #{item.vitaminE},
            #{item.thiamine}, #{item.lactoflavin}, #{item.vitaminC}, #{item.niacin}, #{item.retinol})
        </foreach>
    </insert>


    <select id="selectByFoodId" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM vitamins
        WHERE food_id = #{foodId} AND deleted = 0
    </select>

    <select id="existsByFoodId" resultType="java.lang.Boolean">
        SELECT COUNT(1) FROM vitamins 
        WHERE food_id = #{foodId} AND deleted = 0
    </select>

    <select id="selectByVitaminRange" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM vitamins
        WHERE ${vitaminName} BETWEEN #{minValue} AND #{maxValue}
        AND deleted = 0
    </select>
</mapper> 